[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
apscheduler = "*"
mongoengine = "*"

[dev-packages]
coverage = "*"
coveralls = "*"
mypy = "*"
"flake8" = "*"
freezegun = "*"
parameterized = "*"
mongomock = "*"
mockupdb = "*"
docker = "*"

[requires]
python_version = "3.6"
